"*":
  "atom-beautify":
    general:
      _analyticsUserId: "78e2be75-1b71-4e7a-a892-2f789f85091c"
    html:
      indent_inner_html: true
  core:
    customFileTypes:
      "source.nunjucks": [
        "nunj"
      ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".sass_cache"
      ".DS_Store"
    ]
    reopenProjectMenuCount: 14
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 2
    tabType: "soft"
  "exception-reporting":
    userId: "0950ea6b-fe89-155b-5521-a00eb16fc3ba"
  "formatter-jsbeautify":
    css:
      enable: false
    html:
      enable: false
    less:
      enable: false
    sass:
      enable: false
  "ftp-remote-edit":
    config: "50dd42def0a80c4fb43e9e6c390d04c5c9745c59a9e7d32e23d8c8f16fdccc6f72de36091c5b55dfcb654bb6d2b2e5b5fdb3726562abec8fdf0da3c76a1790f008638298d299b18c67b29b507ec06bca0446b58e9d828699c4814e"
    password: "479613c2cceb0d01f4"
    reset: false
  jsformat:
    max_preserve_newlines: 2
  "linter-sass-lint": {}
  "linter-ui-default":
    panelHeight: 36
  "markdown-preview":
    breakOnSingleNewline: true
  "open-in-browsers":
    BrowserPlus: false
    IE: false
    Opera: false
  "save-session":
    dataSaveFolder: "/Users/Josh/.atom/packages/save-session/projects"
  "seti-ui":
    themeColor: "Orange"
  "sync-settings":
    _lastBackupHash: "ea0382a3640e8a33e289ab3d6c7a09c860b49832"
    gistId: "9953b060422ccff26f83e85bc31d16af"
    personalAccessToken: "cdd485ea84afb34bf7e741603a70b2a908d23eb7"
  "tabs-to-spaces": {}
  "tree-view":
    alwaysOpenExisting: true
    hideIgnoredNames: false
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
